
<h1>Listing Todo Items</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Iscomplete</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_items.each do |todo_item| %>
      <tr class="todo-item" id="todo_<%= todo_item.id %>">
        <td><%= todo_item.title %></td>
        <td><%= button_to [:toggle_complete, todo_item], class: 'complete-toggle', remote: true do %>
          <%= todo_item.is_complete %>
        <% end %></td>
        <td><%= link_to 'Edit', edit_todo_item_path(todo_item) %></td>
        <td><%= link_to 'Delete', todo_item, method: :delete,
            data: { confirm: 'Are you sure?' }, remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Todo item', new_todo_item_path %>
<p id="notice"><%= notice %></p>
